/******whole-page styling*********/
 * {
    box-sizing: border-box;
 }
 :root {
    --default-background: white;
    background-color: white;
    color: black;
 }
 h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
 }
 h2 {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
 }
 h3 {
    font-weight: bold;
    display: block;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
 }
p {
    display: block;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
img {
    width: 90%;
    margin: 3%;
    border: 10px groove #7a7202;
 
}


/******fonts and text styling******/
#meets-title, .meet-card h3, #bio-title, .profile-details-title, #performance-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;

}
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.meta {
    font-size: 75%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
    animation: fly-in-wiggle 1s ease-in;
}

@keyframes fly-in-wiggle {
    0%  {transform: translate(-100%);}
    25% {transform: translate(0%);}
    75% {transform: rotate(-15deg);}
    90% {transform: rotate(15deg);}
    100%{transform: rotate(0deg);}
}




/********Header styling***********/

/*styles skip to main content*/
.hidden-focusable {
    z-index: 5;
    padding: 1em;
    font-weight: bold;
    background-color: white;
    position: absolute;
    left: -1000px;
    transition: left 0.3s;
}   
.hidden-focusable:focus {
    left: 3em;
    border: 3px dashed red;
}

/*styles unscrollable portion of header*/
.profile-noscroll-header, .hidden-header {
    background-color: var(--default-background);
    border: 5vh solid;
    border-image-slice: 10%;
    border-image: url(../images/cloud_garrett.jpg) 70 repeat;

    width: 100%;
    gap: 5%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
}

.hidden-header {
    visibility: hidden;
    position: relative;
}

.profile-noscroll-header {
    position: fixed;
}

.profile-details-title {
    gap: 10px;
}






/*styles scrollable header content*/
.profile-scroll-header {
    display: grid;
    padding: 1em;
    gap: 2em;
}
.profile-scroll-header figure {
    display: flex;
    justify-content: center;
}
#athlete-bio, .profile-details-title {
    padding: 1em;
    border: 10px groove #7cbde7;
}

.race-details {
    padding: 0.5em;
    background-color: var(--default-background);
    border: 10px groove #7a7202;
}






/*styles the skip to graph'button'*/
.skip-to-graph {
    z-index: 100;
    display: grid;
    justify-content: center;
    padding: 5%;

}

.skip-to-graph a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: 2px solid #b5b1b1;
    background-color: #e6e6e6;
    padding: 1em;
    border-radius: 10px;

}
.skip-to-graph a:hover {
    font-weight: bold;
    border: 2px solid #807d7d;
    background-color: #514f4f;
    color: white;
}
.skip-to-graph a:focus-visible {
    border: 5px dashed red;
}






/********styling main content*********/
body {
    margin: 0;
    padding: 16px;
}

#main {
    gap: 2em;
    border-radius: 10px;
    display: grid;
    justify-content: center ;
    background-color: #7cbde7;
    padding: 5%;

}


/*body styling*/
.meets {
    display: grid;
    border-radius: 10px;
}

/*styling titles with the white bubble around them*/
#meets-title, .meet-card > h3, #performance-title {
    background-color: var(--default-background);
    padding: 3%;
    border-radius: 10px;
}

.meet-grid {
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    gap: 1em;
}
.meet-card, #performance-panel {
    background-color: var(--default-background);
    border-radius: 10px;
    padding: 3%;
    display: grid;
    align-items: center;
    justify-items: stretch;
}
.meet-card > h3 {
    justify-self: center;
    text-align: center;
}

.meet-card > .spacer {
    width:75%;
    justify-self: center;
}

/*styling the toggle buttons*/
summary {
    border-radius: 10px;
    color: black;
    border: 2px solid #b5b1b1;
    background-color: #e6e6e6;
    padding: 3%;
    /*removes default arrow but still accesible to screen readers*/
    list-style: none;

    cursor: pointer;
    position: relative;
    padding-left: 2.5em;
}
summary:hover {
    font-weight: bold;
    border: 2px solid #807d7d;
    background-color: #514f4f;
    color: white;
}

summary::before {
    content: "";
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
    height: 1.5em;
    width: 1.5em;

    
    left: 0.5em;
    top: 50%;

    background-image: url("../images/garrett_dropdown_closed.png");
    background-repeat: no-repeat;
    background-size: contain;

}

details[open] summary::before {
    background-image: url("../images/garrett_dropdown_open.png");

}




/*styling what's left of the performance visualization section*/
#performance-title {
    text-align: center;

}
.viz-area {
    overflow: auto;
}
#chart-title {
    text-align:center;
    font-weight: bold;
}


.chart-container {
    width: 1000px;
    height: 400px;
    
}



/*reduced motion and color scheme media queries*/
@media (prefers-reduced-motion: reduce) {
    .meta {
    font-size: 75%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, serif;
    animation: none;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
    --default-background: black;
    background-color: black;
    color: white;
    }
    .profile-details-title a:link {
        background-color: white;
    }
    .skip-to-graph :link {
        background-color: white;
        padding: 0.5em;
        border-radius: 10px;
    }
}
/*focus -visible at the end to override all other borders*/
:focus-visible {
    border: 5px dashed red;
}   


